<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>
  <p>This action is permanent.</p>
  <p>Are you sure you want to continue?</p>
  <div *ngIf="passwordProtected">
    <p>If you are certain please enter the password for this board</p>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" type="password">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button (click)="confirm()" cdkFocusInitial>Confirm</button>
</div>