<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <app-custom-heading [title]="board.title" [underline]="false" [icon]="editable ? 'far fa-edit fa-xs' : ''"
    (iconFunc)="editBoard()"></app-custom-heading>
  <app-card-collection [collectionData]='board.cardCollection' [editable]='editable' [password]='password'></app-card-collection>

  <div *ngIf="editable">
    <app-custom-text [placeholder]="'Collection Title'" [(fld)]="collectionTitle" (onEnterFunc)="addCollection()"></app-custom-text>
    <br />
    <app-custom-select [(fld)]="collectionColor" [options]="boardColors" [placeholder]="'Color'"></app-custom-select>
    <br />
    <app-custom-button [color]="'primary'" [text]="'Add List'" (clickFunc)='addCollection($event)'></app-custom-button>
    <br />
  </div>
  <div *ngIf="!editable">
    <app-custom-text [type]="'password'" [placeholder]="'Password'" [(fld)]="password" (onEnterFunc)="unlock()"></app-custom-text>
    <br />
    <app-custom-button [color]="'primary'" [text]="'Unlock for Edit'" (clickFunc)='unlock($event)'></app-custom-button>
    <app-custom-alert [type]="'i'" [title]="'Password Required'">
      <p>This board is protected by a password. Please enter the password to unlock the ability to edit this board</p>
    </app-custom-alert>
  </div>
  <!-- <app-custom-button [color]="'primary'" [text]="'Export To Excel'" (clickFunc)='exportToExcel($event)'></app-custom-button> -->
</div>
