<h1 mat-dialog-title>Edit Board</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mat-form-field-width">
      <input matInput placeholder="Board Title" [(ngModel)]="tempBoard.title">
    </mat-form-field>
  </div>
  <div *ngIf="!password">
    <mat-form-field class="mat-form-field-width">
      <input matInput type="password" placeholder="Board Password (Optional)" [(ngModel)]="tempBoard.password">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="updateBoard()">Update</button>
</div>