<h1 mat-dialog-title>Edit Board</h1>
<div mat-dialog-content>
  <app-custom-text [placeholder]="'Board Title'" [(fld)]="title" [fullWidth]="true"></app-custom-text>
  <app-custom-text [type]="'password'" [placeholder]="(boardCurrentPassword ? 'Update' : 'Add') + ' Board Password (Optional)'" [(fld)]="passwordCtrl" [fullWidth]="true"></app-custom-text>
  <app-custom-text [type]="'password'" [placeholder]="'Repeat Board Password'" [(fld)]="passwordCtrlRepeat" [fullWidth]="true"
    [visible]="passwordCtrl.value"></app-custom-text>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="updateBoard()">Update</button>
</div>
