.add-card-form{
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-card-form .mat-form-field{
    width: 100%;
}

/* .form-actions{
    
} */