<!-- https://codepen.io/SitePoint/pen/brmXRX?editors=0100 -->
<!-- appClickStopPropagation -->
<div class="lists">
  <div *ngFor="let col of collectionData; index as i" class="list">
    <header>{{col.title}}</header>
    <ul>
      <div *ngFor="let card of col.card; index as cardIndex">
        <mat-card (click)="editCard(i, cardIndex)" (keydown.enter)="editCard(i, cardIndex)" class='mat-card-editable'
          tabindex="0">
          <img class='img-card' *ngIf="card.imgData" [src]="card.imgData">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
            <app-custom-menu *ngIf="editable" [items]="dropDownItems" (func)="dropDownItemsFunc($event, i, cardIndex)"></app-custom-menu>
          </mat-card-header>
          <mat-card-content>
            <p class="card-description">
              {{card.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </ul>
    <div class='add-card-form' *ngIf="editable">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edit
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-card-collection-edit [index]="i" [collectionId]="col.id" (addEvent)="addCard($event)" (deleteEvent)="deleteCol($event)"></app-card-collection-edit>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <footer></footer>
  </div>
</div>
