<!-- https://codepen.io/SitePoint/pen/brmXRX?editors=0100 -->
<!-- appClickStopPropagation -->
<div class="lists">
  <div *ngFor="let col of collectionData; index as i" class="list">
    <header>{{col.title}}</header>
    <ul>
      <div *ngFor="let card of col.card; index as cardIndex">
        <mat-card (click)="editCard(i, cardIndex)" (keydown.enter)="editCard(i, cardIndex)" class='mat-card-editable'
          tabindex="0">
          <img class='img-card' *ngIf="card.imgData" [src]="card.imgData">
          <button *ngIf="editable" type="button" class="close card-close" (click)='deleteCard(i, cardIndex)' appClickStopPropagation>
            <span>&times;</span>
          </button>
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{card.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </ul>
    <div class='add-card-form' *ngIf="editable">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edit
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-custom-text [fullWidth]="true" [placeholder]="'Card Title'" [(fld)]="cardTitle"></app-custom-text>
          <app-custom-text [textArea]="true" [fullWidth]="true" [placeholder]="'Card Desc'" [(fld)]="cardDesc"></app-custom-text>
          <app-custom-file [(imgData)]="imgData"></app-custom-file>

          <div class="form-actions">
            <app-custom-button [color]="'primary'" [text]="'Add Card'" (clickFunc)='addCard($event, i, col.id)'></app-custom-button>
            <app-custom-button [color]="'warn'" [text]="'Delete List'" (clickFunc)='deleteCol($event, i)' [floatRight]="true"></app-custom-button>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <footer></footer>
  </div>
</div>
