<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <div *ngFor="let board of boardData, index as i">
    {{board.title}}
    <button mat-raised-button color="primary" (click)='viewBoard(i)'>View Board</button>
    <button mat-raised-button color="warn" (click)='deleteBoard(i)'>Delete Board</button>
  </div>
  <mat-form-field>
    <input matInput placeholder="Board Title" [(ngModel)]="boardTitle">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)='addBoard(i)'>Add</button>
</div>
