<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <h3>Boards</h3>
  <div *ngFor="let board of boardData, index as i" style="display:inline-block; height: 100px;">
    <div class="board-tile" (click)='viewBoard(i)'>
      <div class="sub">
      </div>
      <button type="button" class="board-tile-button close" (click)='deleteBoard(i)' appClickStopPropagation>
        <span>&times;</span>
      </button>
    </div>
    <div class='board-tile-title'><span>{{board.title}}</span></div>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Board Title" [(ngModel)]="boardTitle" (keyup.enter)="addBoard($event)">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Board Password (Optional)" [(ngModel)]="boardPassword" (keyup.enter)="addBoard($event)">
    </mat-form-field>
    <br />
    <app-custom-button [color]="'primary'" [text]="'Add Board'" (clickFunc)='addBoard($event)'></app-custom-button>
  </div>
</div>
