<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <h3>Boards</h3>
  <div *ngFor="let board of boardData, index as i" style="display:inline-block; height: 100px;">
    <div class="board-tile" (click)='viewBoard(i)' (keydown.enter)='viewBoard(i)' tabindex="0">
      <div class="sub">
      </div>
      <button type="button" class="board-tile-button fas fa-times" (click)='deleteBoard(i)' (keydown.enter)='deleteBoard(i)' appClickStopPropagation>
      </button>
    </div>
    <div class='board-tile-title'><span>{{board.title}}</span></div>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Board Title" [(ngModel)]="boardTitle" (keyup.enter)="addBoard($event)">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="password" placeholder="Board Password (Optional)" [formControl]="boardPassword" (keyup.enter)="addBoard($event)">
    </mat-form-field>
    <br />
    <mat-form-field class="expand" [class.expanded]="boardPassword.value">
      <input matInput type="password" placeholder="Repeat Board Password" [formControl]="boardPasswordRepeat" (keyup.enter)="addBoard($event)"
        [attr.tabindex]="boardPassword.value ? 0 : -1"
        appFocus
        [(focus)]="boardPasswordRepeatFocus">
      <mat-error *ngIf="boardPasswordRepeat.errors && boardPasswordRepeat.errors.match">Passwords don't match</mat-error>
    </mat-form-field>
    <br />
    <br />
    <app-custom-button [color]="'primary'" [text]="'Add Board'" (clickFunc)='addBoard($event)'></app-custom-button>
    <app-custom-alert [type]="'i'" [title]="'Password Protected Boards'">
      <p>Adding a password is completely optional but will prevent unknown users from editing a board</p>
    </app-custom-alert>
  </div>
</div>
