<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <h3>Boards</h3>
  <div *ngFor="let board of boardData, index as i" style="display:inline-block; height: 100px;">
    <div class="board-tile" (click)='viewBoard(i)'>
      <div class="sub">
      </div>
      <button type="button" class="board-tile-button close" (click)='deleteBoard(i)' appClickStopPropagation>
        <span>&times;</span>
      </button>
    </div>
    <div class='board-tile-title'><span>{{board.title}}</span></div>
  </div>
  <!-- <ul class="board-list">

    <div *ngFor="let board of boardData, index as i" class='row'>
      <div class='col'>
        <li (click)='viewBoard(i)'>
          {{board.title}}
        </li>
      </div>
      <div class='col'>
        <button type="button" class="close" (click)='deleteBoard(i)'>
          <span>&times;</span>
        </button>
      </div>
    </div>
  </ul> -->
  <div>
    <mat-form-field>
      <input matInput placeholder="Board Title" [(ngModel)]="boardTitle" (keyup.enter)="addBoard(i)">
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)='addBoard(i)'>Add Board</button>
  </div>
</div>
