@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Modifying Bootstrap Styles */
.container {
  padding: 0;
  margin-top: 15px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1550px;
  }
}

.jumbotron {
  border-radius: 0px;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 1rem 1rem;
  }
}

.navbar-nav.navbar-nav-left {
  width: 40%;
}

.navbar-nav.navbar-nav-middle {
  width: 20%;
  margin-top: 5px;
}

.navbar-nav.navbar-nav-middle .nav-item {
  margin: 0 auto;
  color: white;
  font-family: "Brush Script MT", cursive;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  pointer-events: none;
  /* disable hover effects */
}

.navbar-nav.navbar-nav-right {
  width: 40%;
}

/* -- End -- */

/* Modifying Material Styles */
.mat-spinner {
  margin: 0 auto;
}

.mat-card {
  margin: 10px 0;
}

.mat-card-header {
  margin-right: 20px;
}

.mat-card-header .mat-card-header-text {
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}

.mat-card-content>* {
  overflow-wrap: break-word;
}

.mat-form-field.mat-form-field-width {
  width: 100%;
}

.mat-dialog-content {
  /* fix for vert scroll appearing when everything still in column */
  line-height: 1;
}

/* -- End -- */

/* Loading spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgb(51, 51, 51);
  animation: spinner .6s linear infinite;
}

.expand {
  overflow: hidden;
}

.expand>* {
  margin-top: -100%;
  transition: all 0.4s;
}

.expand.expanded>* {
  margin-top: 0;
}

body {
  margin: 0;
  /* font-family: 'Roboto'; */
  font-size: 14px;
  line-height: 1.3em;
  background-color: #b1c2ff;
}

/*   
  .ui {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: #0079bf;
    color: #eee;
  } */

.navbar {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.navbar.app {
  background-color: #0067a3;
  font-size: 1.5rem;
}

.navbar.board {
  font-size: 1.1rem;
}

.lists {
  /* height: 100vh; */
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
}

.lists>* {
  flex: 0 0 auto;
  margin-left: 10px;
}

.lists::after {
  content: '';
  flex: 0 0 10px;
}

.list:first-child {
  margin-left: initial;
}

.list {
  width: 315px;
  height: calc(100% - 10px - 17px);

  /* fix for vert scroll appearing when everything still in column */
  line-height: 1;
}

.list>* {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 10px;
}

/* These being used? I think they are?*/
.list header {
  padding-top: 5px;
  line-height: 26px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-wrap: break-word;
}

.list footer {
  padding-top: 5px;
  line-height: 36px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #888;
}

.list ul {
  list-style: none;
  margin: 0;
  max-height: 100vh;
  overflow-y: auto;
}

.list ul li {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.list ul li:not(:last-child) {
  margin-bottom: 10px;
}

.list ul li img {
  display: block;
  width: calc(100% + 2 * 10px);
  margin: -10px 0 10px -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* .mat-card:hover{
    background-color: grey;
} */

img {
  border-radius: 4px;
  margin: 10px 0;
}

.img-card {
  display: block;
  width: calc(100% + 32px);
  position: relative;
  right: 16px;
  bottom: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0px;
}

.img-add {
  max-height: 300px;
  max-width: 250px;
}

.img-edit {
  margin-bottom: 20px;
  max-width: calc(100% - 0px);
  max-height: 600px;
}
