<mat-form-field *ngIf="!textArea" [class.mat-form-field-width]="fullWidth" class="expand" [class.expanded]="visible">
  <input matInput [placeholder]="placeholder" [formControl]="control" (keyup.enter)="enterKeyUp()" (keyup)="update()" (blur)="update()"
    [attr.tabindex]="visible ? 0 : -1" appFocus [(focus)]="control.hasFocus" [attr.type]="type">
  <mat-error *ngIf="control.errors">{{errMsg}}</mat-error>
</mat-form-field>

<!-- TODO maybe move this to new component -->
<mat-form-field *ngIf="textArea" [class.mat-form-field-width]="fullWidth" class="expand" [class.expanded]="visible">
  <textarea *ngIf="textArea" matInput [placeholder]="placeholder" [formControl]="control" (keyup.enter)="enterKeyUp()" (blur)="update()"
    (keyup)="update()" [attr.tabindex]="visible ? 0 : -1" appFocus [(focus)]="control.hasFocus"></textarea>
  <mat-error *ngIf="control.errors">{{errMsg}}</mat-error>
</mat-form-field>
