<h1 mat-dialog-title>Edit Card</h1>
<div mat-dialog-content>
  <img class="img-edit" *ngIf="tempCard.imgData" [src] = "tempCard.imgData">
  <app-custom-text [fullWidth]="true" [placeholder]="'Card Title'" [(fld)]="title"></app-custom-text>
  <app-custom-text [textArea]="true" [fullWidth]="true" [placeholder]="'Card Description'" [(fld)]="description"></app-custom-text>
</div>
<div *ngIf="editable" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="updateCard()">Update</button>
</div>
